html{
  font-size: 64.5%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fit-image{
  width: 100vw;
}
.navbar{
  width: 100vw;
  height: 7rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.hamburger{
  display: none;
}
.secondPart{
  
  width: 60vw;
}
.secondPart ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secondPart ul li{
  color: white;
  list-style: none;
}
.thirdPart{
  width: 20vw;
}
